<!--  ESTA ES UNA PAGINA WEB   -->
<hmtl>
    <title>Hola Mundo</title>
    <body>
        <h1>Mi primera pagina Martha</h1>
        <h2>Mi primera pagina</h2>
        <h3>Mi primera pagina</h3>
        <h4>Mi primera pagina</h4>
        <h5>Mi primera pagina</h5>
        <h6>Mi primera pagina</h6>
        <table>
            <!--  FILA 1   -->
            <tr>
                <!--  COLUMNA 1   -->
                <td>
                    <p>Fila 1 - Columna 1</p>
                </td>
                <!--  COLUMNA 2   -->
                <td>
                    <p>Fila 1 - Columna 2</p>
                </td>
                <!--  COLUMNA 3   -->
                <td>
                    <p>Fila 1 - Columna 3</p>
                </td>
                <!--  COLUMNA 4   -->
                <td>
                    <p>Fila 1 - Columna 4</p>
                </td>               
            </tr>
            <!--  FILA 2   -->
            <tr>
                <!--  COLUMNA 1   -->
                <td>
                    <p>Fila 2 - Columna 1</p>
                </td>
                <!--  COLUMNA 2   -->
                <td>
                    <p>Fila 2 - Columna 2</p>
                </td>
                <!--  COLUMNA 3   -->
                <td>
                    <p>Fila 2 - Columna 3</p>
                </td>
                <!--  COLUMNA 4   -->
                <td>
                    <p>Fila 2 - Columna 4</p>
                </td>               
            </tr>

        </table>
    </body>
</hmtl>